<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.Vtrans.com</title>
    <link rel="stylesheet" href="/web.css">
    <script src="/web.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="overlay" onclick="">
        <form action="#">
        <div class="login-form">
            <h2>Log In</h2>
            <div class="underline"></div>
            <div class="element">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Enter your email">
            </div>
            <div class="element">
                <label for="password">Password</label>
                <input type="text" id="password" placeholder="Enter your password">
            </div>
            <div class="element">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <div class="element">
                <button id="login-page" onclick="off()">Sign In</button>
            </div>
            <div class="element">
                <a href="#">Forgot Password?</a>
            </div>
        </div>
        </form>
    </div>
    <header>
        <div class="head">
            <div class="head-left">
                <i><img src="/images/LOGO.png" alt="Description" height="75px" width="125px"></i>
                <i><img src="/images/name.png" alt="Description" height="50px" width="225px"></i>
             </div>
            <button class="btn-1" onclick="on()">LOGIN</button>
       </div>
        <br>
        <ul class=" nav-menu" >
            <li class="nav-items"><a href="/">Projects</a></li>
            <li class="nav-items"><a href="/">Services</a></li>
            <li class="nav-items"><a href="/">About</a></li>
            <li class="nav-items"><a href="/">Contact</a></li>
        </ul>
    </header>
    <br><br><br><br><br>
    <section class="main-page">
        <div class="main-top">
            <div class="main-left">
                <h3><span>VTRANS<span></h3>
                <h1>Your Next-Generation Speech Translator</h1>
                <h3>Speak,Translate,Connect!!</h3>
                <p>Speak naturally, and let our AI-powered tool convert your words into another language with accuracy and clarity. Whether you are traveling, working, or connecting with friends worldwide, seamless communication is just a voice away!</p>
                <br><button class="btn-2" id="speakbutton" onclick="window.location.href='/speak'">Speak!</button>
            </div>
            <div class="main-right">
                <i><img src="/images/right main.png" alt="Description" width="500px" height="300px" alt="" srcset=""></i>
            </div>
        </div>
    </section>
        
    <section class="main-bottom">
        <div class="bottom">
            <div class="btm-left">
                <i><img src="/images/b1.png" alt="Description" width="350px" height="325px" alt="" srcset=""></i>
            </div>
            <div class="btm-right">
                <h1><br>Multilingual Communication for Events and Meetings</h1>
                <br>
                <h4>Vtrans AI delivers advanced AI speech translation and live captioning solutions for events, webinars, and global businesses. Enhance engagement and communication with real-time multilingual solutions tailored to your needs.</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="features">
            <div class="f1">
                <i><img src="/images/trans.png" alt="Description"  height="200px" width="200px"></i>
                <h2>Seamlessly translate live speech automatically</h2>
                <p>Enjoy AI real-time speech translation that converts spoken words into multiple languages instantly, allowing participants to follow along with ease.</p>
            </div>
            <div class="f2">
                <i><img src="/images/audio 1.png" alt="Description" height="200px" width="200px" alt=""></i>
                <h2>Enjoy the charm of AI-powered voices that sound just like humans</h2>
                <p>Our AI translator features natural-sounding voices, ensuring that your translated speech sounds just like a human speaker, maintaining the integrity and tone of your message.</p>
            </div>
            <div class="f3">
                <i><img src="/images/capt.png" alt="Description" height="200px" width="200px" alt=""></i>
                <h2>Enhance your events with real-time multilingual captions</h2>
                <p>Add real-time multilingual captions to your events, improving accessibility and helping participants with hearing impairments or language barriers stay engaged.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="human-tech">
            <div class="human-left">
               <h5>Human + Tech = Quality</h5>
               <br>
                <h1>Enjoy a stress-free experience</h1>
                <br>
                <h4>Embrace the best in AI language translation with Vtrans,  knowing that you are supported by dedicated professionals at every step. Our solution is not just about technology, it's about delivering real-time translation without the hassle. </h4>
                <br>
                <div class="check">
                    <div class="check-list">
                        <ul class="checkbox">
                            <li><i><img src="/images/checkbox.png" alt="Description"></i><h6>Cost-effective: AI translation delivers high-quality, cost savings, real-time multilingual translations</h6></li><br>
                            <li><i><img src="/images/checkbox.png" alt="Description"></i><h6>Ready on short notice: Need AI translation last minute? No problem! Vtrans AI is always ready to accommodate even urgent events.</h6></li><br>
                            <li><i><img src="/images/checkbox.png" alt="Description"></i><h6>Suitable for any event setup: Whether it's a conference, a training session, or a town hall,Vtrans AI adapts seamlessly.</h6></li><br>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="human-right">
                <i><img src="/images/humantech.webp" alt="Description" srcset=""></i>
            </div>
        </div>
    </section>
    <section>
        <div class="sec-4">
            <div class="sec4-left">
                <i><img src="/images/variouslanguages.png" alt="Description"></i>
            </div>
            <div class="sec4-right">
                <h3>NATURAL-SOUNDING VOICES</h3>
                <h1>Choose from a range of voices and accents</h1><br>
                <h5>Select from a range of natural-sounding AI voices, including both male and female options, to ensure the translation matches the tone and context of your event. Vtrans AI translator also supports regional accents, making communication even more relatable for your audience.</h5>
            </div>   
        </div>
    </section>
    <section>
        <div class="sec-5">
            <div class="advantage">
                <ul>
                    <li class="l1">
                        <div class="l1-left"><i><img src="/images/icon1.webp" alt="Description"  width="150px" height="150px"></i></div>
                        <div class="l1-right"><h1>Reach larger audiences</h1><h4>Only 17% of people understand English. Utilise cutting-edge AI technology to provide global audiences with real-time audio translation and live captions.</h4></div>
                    </li><hr>
                    <li class="l2">
                        <div class="l2-left"><i><img src="/images/icon2.webp" alt="Description" width="150px" height="150px" alt=""></i></div>
                        <div class="l2-right"> <h1>All-in-one language access</h1>
                            <h4>Experience the power of one app that combines simultaneous, sign language interpretation, live captioning and subtitling, and AI speech translation.</h4></div>  
                    </li><hr>
                    <li class="l3">
                        <div class="l3-left"><i><img src="/images/icon3.webp" alt="Description" width="150px" height="150px" alt=""></i></div>
                       <div class="l3-right"> <h1>Reduce carbon emissions</h1>
                        <h4>No need to fly in interpreters. A cloud-based virtual booth enables professional conference interpreters to work from anywhere in the world.</h4></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
</body>
</html>